<footer>
  <div style = "display:flex; justify-content:space-around">
    <%= link_to "About", "#" %>
    <%= link_to "KJV Bible API", api_index_path %>
    <%= link_to "Contact", "#" %>
  </div>
  <hr style = "color:white; margin: 2% 0">
  <div style = "text-align:center">
    Developed by Anietie
    <div>
      <a href = "https://www.twitter.com/caanietie">
        <%= image_tag "twitter.svg", size: "20x20" %>
      </a>
      <span>|<span>
      <a href = "https://www.github.com/caanietie">
        <%= image_tag "github.svg", size: "20x20" %>
      </a>
    </div>
  </div>
</footer>